<menu>
    <menuitem label='Home'>
        <icon>fa:home fa-fw</icon>
        <menu>
            <menuitem label='Início'>
                <icon>fa:life-ring fa-fw</icon>
                <action>WelcomeView</action>
            </menuitem>
            
            <menuitem label='Aprenda'>
                <icon>fa:book fa-fw</icon>
                <action>LearnView</action>
            </menuitem>
            
            <menuitem label='Template'>
                <icon>fa:desktop fa-fw</icon>
                <action>TemplateView</action>
            </menuitem>
            
            <menuitem label='Construa'>
                <icon>fa:magic fa-fw</icon>
                <action>BuildView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>            
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Dicas'>
        <icon>fa:thumbs-up fa-fw</icon>
        <menu>
            <menuitem label='Consulta CEP'>
                <icon>fa:search fa-fw</icon>
                <action>ConsultaCep#method=onCep#cep=87023015</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Básico'>
        <icon>fa:smile fa-fw</icon>
        <menu>
            <menuitem label='Teste'>
                <icon>fa:cube fa-fw</icon>
                <action>TesteView#method=onEvento#nome=Adriano</action>
            </menuitem>
            <menuitem label='Template View Básico'>
                <icon>fa:cube fa-fw</icon>
                <action>TemplateViewBasico</action>
            </menuitem>
            <menuitem label='Template com Máscaras'>
                <icon>fa:cube fa-fw</icon>
                <action>TemplateViewMask</action>
            </menuitem>
            <menuitem label='Template com Repetições'>
                <icon>fa:cube fa-fw</icon>
                <action>TemplateViewRepeat</action>
            </menuitem>
            <menuitem label='Tabelas'>
                <icon>fa:cube fa-fw</icon>
                <action>TableView</action>
            </menuitem>
            <menuitem label='Painel'>
                <icon>fa:cube fa-fw</icon>
                <action>PanelGroupView</action>
            </menuitem>
            <menuitem label='Barra de Rolagem'>
                <icon>fa:cube fa-fw</icon>
                <action>ScrollView</action>
            </menuitem>
            <menuitem label='Abas'>
                <icon>fa:cube fa-fw</icon>
                <action>NoteBookView</action>
            </menuitem>
            <menuitem label='Boxes'>
                <icon>fa:cube fa-fw</icon>
                <action>VBoxView</action>
            </menuitem>
            <menuitem label='Páginas'>
                <icon>fa:caret-down fa-fw</icon>
                <menu>
                    <menuitem label='Página Simples'>
                        <icon>fa:cube fa-fw</icon>
                        <action>SinglePageView</action>
                    </menuitem>
                    <menuitem label='Janela Simples'>
                        <icon>fa:cube fa-fw</icon>
                        <action>SingleWindowView</action>
                    </menuitem>
                    <menuitem label='Janela sob Demanda'>
                        <icon>fa:cube fa-fw</icon>
                        <action>OnDemandWindowView</action>
                    </menuitem>
                    <menuitem label='Janela Modal'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ModalWindowView</action>
                    </menuitem>
                    <menuitem label='Cortina Lateral'>
                        <icon>fa:cube fa-fw</icon>
                        <action>SidePageView</action>
                    </menuitem>
                </menu>        
            </menuitem>
            <menuitem label='Páginas Embutidas'>
                <icon>fa:caret-down fa-fw</icon>
                <menu>
                    <menuitem label='PDF Embutido'>
                        <icon>fa:cube fa-fw</icon>
                        <action>EmbbedPDFView</action>
                    </menuitem>   
                    <menuitem label='Vídeo Embutido'>
                        <icon>fa:cube fa-fw</icon>
                        <action>EmbbedVideoView</action>
                    </menuitem>  
                    <menuitem label='Sistema Externo Embutido'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ExternalSystemView</action>
                    </menuitem>        
                </menu>        
            </menuitem>    
            <menuitem label='Diálogos'>
                <icon>fa:caret-down fa-fw</icon>
                <menu>
                    <menuitem label='Informação'>
                        <icon>fa:cube fa-fw</icon>
                        <action>DialogsView#method=info#static=1#type=error</action>
                    </menuitem>   
                    <menuitem label='Questão'>
                        <icon>fa:cube fa-fw</icon>
                        <action>DialogsView#method=question#static=1</action>
                    </menuitem> 
                    <menuitem label='Diálogo com campos'>
                        <icon>fa:cube fa-fw</icon>
                        <action>DialogsView#method=inputs#static=1</action>
                    </menuitem> 
                </menu>        
            </menuitem>    
        </menu>
    </menuitem>
     <menuitem label='Banco de Dados'>
        <icon>fa:database fa-fw</icon>
        <menu>
            <menuitem label='Conexão Manual'>
                <icon>fa:cube fa-fw</icon>
                <action>ConexaoManual</action>
            </menuitem>
            <menuitem label='Conexão com Prepare'>
                <icon>fa:cube fa-fw</icon>
                <action>ConexaoPrepare</action>
            </menuitem>
            <menuitem label='Actire Records'>
                <icon>fa:server fa-fw</icon>
                <menu>
                    <menuitem label='Object Load'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ObjectLoad</action>
                    </menuitem>
                    <menuitem label='Object Store'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ObjectStore</action>
                    </menuitem>
                    <menuitem label='Object Create'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ObjectCreate</action>
                    </menuitem>            
                    <menuitem label='CRUD Completo'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ObjectFind</action>
                    </menuitem>
                    <menuitem label='Objetos Associados'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ObjetoAssociado</action>
                    </menuitem>
                    <menuitem label='Object Stamp'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ObjectStamp</action>
                    </menuitem>      
                </menu>
            </menuitem>   
            <menuitem label='Coleções'>
                <icon>fa:table fa-fw</icon>            
                <menu>        
                    <menuitem label='Contagem'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ContagemColecoes</action>
                    </menuitem>           
                    <menuitem label='Carregar Coleções'>
                        <icon>fa:cube fa-fw</icon>
                        <action>CarregarColecoes</action>
                    </menuitem>   
                    <menuitem label='Alterar Coleções'>
                        <icon>fa:cube fa-fw</icon>
                        <action>AlterarColecoes</action>
                    </menuitem>  
                    <menuitem label='Objetos Relacionados'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ObjetoRelacionado</action>
                    </menuitem>  
                    <menuitem label='Agregações'>
                        <icon>fa:cube fa-fw</icon>
                        <action>Agregacoes</action>
                    </menuitem> 
                </menu>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Formulários'>
        <icon>fa:calendar-check fa-fw</icon>            
        <menu> 
            <menuitem label='Formulário Manual'>
                <icon>fa:cube fa-fw</icon>
                <action>FormManual</action>
            </menuitem> 
            <menuitem label='Formulário Bootstrap'>
                <icon>fa:cube fa-fw</icon>
                <action>FormBootstrap</action>
            </menuitem> 
            <menuitem label='Formulário Vertical'>
                <icon>fa:cube fa-fw</icon>
                <action>FormularioBootstrapVertical</action>
            </menuitem> 
            <menuitem label='Formulário Colunas'>
                <icon>fa:cube fa-fw</icon>
                <action>FormularioBootstrapColunas</action>
            </menuitem> 
            <menuitem label='Formulário com Lista de Campos'>
                <icon>fa:cube fa-fw</icon>
                <action>BootstrapFieldList</action>
            </menuitem>
            <menuitem label='Formulario CheckList'>
                <icon>fa:cube fa-fw</icon>
                <action>FormularioCheckList</action>
            </menuitem>
            <menuitem label='Uso de Máscaras'>
                <icon>fa:cube fa-fw</icon>
                <action>FormularioMascaras</action>
            </menuitem>
            
        </menu>
    </menuitem>
</menu>
