<menu>
    <menuitem label='Home'>
        <icon>fa:home fa-fw</icon>
        <menu>
            <menuitem label='Início'>
                <icon>fa:life-ring fa-fw</icon>
                <action>WelcomeView</action>
            </menuitem>
            
            <menuitem label='Aprenda'>
                <icon>fa:book fa-fw</icon>
                <action>LearnView</action>
            </menuitem>
            
            <menuitem label='Template'>
                <icon>fa:desktop fa-fw</icon>
                <action>TemplateView</action>
            </menuitem>
            
            <menuitem label='Construa'>
                <icon>fa:magic fa-fw</icon>
                <action>BuildView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Configuração'>
        <icon>fa:cog fa-fw</icon>
        <menu>
            <menuitem label='Ver módulos'>
                <icon>fa:cube fa-fw</icon>
                <action>SystemModulesCheckView</action>
            </menuitem>
            
            <menuitem label='Setup PHP'>
                <icon>fa:code fa-fw</icon>
                <action>SystemPHPInfoView</action>
            </menuitem>
        </menu>
    </menuitem>
    <menuitem label='Básico'>
        <icon>fa:caret-down fa-fw</icon>
        <menu>
            <menuitem label='Teste'>
                <icon>fa:cube fa-fw</icon>
                <action>TesteView#method=onEvento#nome=Adriano</action>
            </menuitem>
            <menuitem label='Template View Básico'>
                <icon>fa:cube fa-fw</icon>
                <action>TemplateViewBasico</action>
            </menuitem>
            <menuitem label='Template com Máscaras'>
                <icon>fa:cube fa-fw</icon>
                <action>TemplateViewMask</action>
            </menuitem>
            <menuitem label='Template com Repetições'>
                <icon>fa:cube fa-fw</icon>
                <action>TemplateViewRepeat</action>
            </menuitem>
            <menuitem label='Tabelas'>
                <icon>fa:cube fa-fw</icon>
                <action>TableView</action>
            </menuitem>
            <menuitem label='Painel'>
                <icon>fa:cube fa-fw</icon>
                <action>PanelGroupView</action>
            </menuitem>
            <menuitem label='Barra de Rolagem'>
                <icon>fa:cube fa-fw</icon>
                <action>ScrollView</action>
            </menuitem>
            <menuitem label='Abas'>
                <icon>fa:cube fa-fw</icon>
                <action>NoteBookView</action>
            </menuitem>
            <menuitem label='Boxes'>
                <icon>fa:cube fa-fw</icon>
                <action>VBoxView</action>
            </menuitem>
            <menuitem label='Páginas'>
                <icon>fa:caret-down fa-fw</icon>
                <menu>
                    <menuitem label='Página Simples'>
                        <icon>fa:cube fa-fw</icon>
                        <action>SinglePageView</action>
                    </menuitem>
                    <menuitem label='Janela Simples'>
                        <icon>fa:cube fa-fw</icon>
                        <action>SingleWindowView</action>
                    </menuitem>
                    <menuitem label='Janela sob Demanda'>
                        <icon>fa:cube fa-fw</icon>
                        <action>OnDemandWindowView</action>
                    </menuitem>
                    <menuitem label='Janela Modal'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ModalWindowView</action>
                    </menuitem>
                    <menuitem label='Cortina Lateral'>
                        <icon>fa:cube fa-fw</icon>
                        <action>SidePageView</action>
                    </menuitem>
                </menu>        
            </menuitem>
            <menuitem label='Páginas Embutidas'>
                <icon>fa:caret-down fa-fw</icon>
                <menu>
                    <menuitem label='PDF Embutido'>
                        <icon>fa:cube fa-fw</icon>
                        <action>EmbbedPDFView</action>
                    </menuitem>   
                    <menuitem label='Vídeo Embutido'>
                        <icon>fa:cube fa-fw</icon>
                        <action>EmbbedVideoView</action>
                    </menuitem>  
                    <menuitem label='Sistema Externo Embutido'>
                        <icon>fa:cube fa-fw</icon>
                        <action>ExternalSystemView</action>
                    </menuitem>        
                </menu>        
            </menuitem>    
            <menuitem label='Diálogos'>
                <icon>fa:caret-down fa-fw</icon>
                <menu>
                    <menuitem label='Informação'>
                        <icon>fa:cube fa-fw</icon>
                        <action>DialogsView#method=info#static=1#type=error</action>
                    </menuitem>   
                    <menuitem label='Questão'>
                        <icon>fa:cube fa-fw</icon>
                        <action>DialogsView#method=question#static=1</action>
                    </menuitem> 
                    <menuitem label='Diálogo com campos'>
                        <icon>fa:cube fa-fw</icon>
                        <action>DialogsView#method=inputs#static=1</action>
                    </menuitem> 
                </menu>        
            </menuitem>    
        </menu>
    </menuitem>
</menu>
